configuration {
    modi: "drun,run,window,ssh";
    font: "<% font.base %> 14";
    show-icons: true;
    display-window: "🎰";
    display-run: "🎮";
    display-ssh: "🖥️";
    display-drun: "✨";
    theme: "theme.rasi";
}
